.span-style{
    background-color: rgb(219,112,147);
    padding: 10px;
    border-radius: 10px;
}

.header-container{
    background-color: rgb(137, 157, 216);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.span-hover:hover{
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.6); 
  transform: translateY(-4px); 
  color: white;
} 
